.name{
    background-color: khaki;
}

.name-selected{
    background-color: maroon;
    color: beige;
}

.prof{
    background-color: beige;
} 

.prof-selected{
    background-color: khaki;
    color:maroon;
}

.error{
    background-color:red;
    color: white;
} 